<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-android-sensors"
        version="1.0.5">

  <name>Cordova Android Sensors Plugin</name>
  <author>r1si</author>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/an_sensors.js" target="js/an_sensors.js"/>

  <js-module src="www/an_sensors.js" name="an_sensors">
    <clobbers target="an_sensors" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="an_sensors">
        <param name="android-package" value="com.cordova.ansensors.plugin.an_sensors"/>
      </feature>
    </config-file>

    <source-file src="src/android/an_sensors.java" target-dir="src/com/r1si/an_sensors/"/>
  </platform>

</plugin>